/* You can add global styles to this file, and also import other style files */
@charset "utf-8";

$primary: #5faf49;
$light: #91e177;
$dark: #2b7f1a;

html {
    height: 100%;
    overflow: auto;

    background: url(~/assets/texture.jpg) repeat #185015;
    background-size: 10%;
}

body {
    height: 100%;
    overflow: auto;
}

.approot{
    height: 100%;
}

// Import only what you need from Bulma
@import '~node_modules/bulma/sass/utilities/_all';
@import '~node_modules/bulma/sass/base/_all';
@import '~node_modules/bulma/sass/elements/button';
@import '~node_modules/bulma/sass/elements/container';
@import '~node_modules/bulma/sass/elements/title';
@import '~node_modules/bulma/sass/form/_all';
@import '~node_modules/bulma/sass/components/navbar';
@import '~node_modules/bulma/sass/layout/hero';
@import '~node_modules/bulma/sass/layout/section';